// SECTION CHOOSE RESTAURANTS
// IPHONE 8
.chooseRestaurants {
    background-color: $primary-background-color;
    padding: 60px 30px 90px 30px;

    &__h2 {
      @include h2-accueil-smartphone;
      margin: 0;
      padding-bottom: 29px;
    }
  }
  
  .restaurantsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .restaurantsCards {
    display: flex;
    flex-direction: column;
    min-height: 260px;
    border-radius: 18px 18px;
    background-color: white;
    @include base-shadow;
    position: relative;

    &__imgContainer {
      max-width: 546px;
      max-height: 190px;
      overflow: hidden;
      border-radius: 18px 18px 0 0;
    }

    &__new{
      position: absolute;
      background-color: $tertiary-color;
      right: 20px;
      top: 15px;
      font-size: 16px;
      font-weight: 500;
      color: #008967;
      padding: 8px 10px;
      border-radius: 3px 3px;
    }

    &__imgContained {
      width: 100%;
      min-width: 370px;
    }
  }  

  .restaurantsTxtContainer {
    padding: 16px 0 12px 20px;
  }
  .restaurants__h3 {
    margin: 0;
    @include h3-accueil-smartphone;

    &__p {
      margin: 0;
      padding: 8px 0 6px 0;
      @include p-accueil-smartphone;
    }
  }  

  .imgPalette {
    transform: translate(-10px, -22%);
    position: relative;
  }
  .imgEnchantée {
    transform: translate(-8px, -35%);
  }
  .imgFrançaise {
    transform: translate(-3px, -18%);
  }
  .imgDélice {
    transform: translate(-2px, -20%);
  }

  .fa-heart{
    position: absolute;
    right: 33px;
    bottom: 34px;
    font-size: 34px;
  }
  .filled  {
    color: transparent;
    @include gradient-heart;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: transform 250ms;

    &:hover{
      @include base-zoom;
      opacity: 1;
    }
  }
  
  @media screen and (min-width: 414px) {
    .imgPalette {
      transform: translate(0px, -22%);
    }
    .imgEnchantée {
      transform: translate(0px, -35%);
    }
    .imgFrançaise {
      transform: translate(0px, -18%);
    }
    .imgDélice {
      transform: translate(0px, -20%);
    }
  }
  @media screen and (min-width: 415px) {
    .restaurantsCards__imgContainer {
      max-width: 570px;
    }
  }
  @media screen and (min-width: 640px) {
    .restaurantsCards__imgContainer {
      max-width: 692px;
    }
  }
  
  // TABLETTE
  @media screen and (min-width: 768px){
    .chooseRestaurants__h2 {
      padding-bottom: 50px;
      text-align: center;
    }
    .restaurantsContainer {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .restaurantsCards{
      border-radius: 35px 35px 10px 10px;
      background-color: white;

      &__imgContainer {
        max-width: 330px;
        border-radius: 35px 35px 35px 35px;
      }
    } 
  }
  @media screen and (min-width: 910px) {
    .restaurantsCardsContainer {
      gap: 50px;
    }
    .restaurantsCards__imgContainer {
      max-width: 390px;
    }
  }
  
  // DESKTOP
  @media screen and (min-width: 1280px) {
    .chooseRestaurants__h2 {
      padding-bottom: 70px;
    }
    .restaurantsContainer {
      flex-wrap: nowrap;
      gap: 60px;
    }
    .restaurantsCards__imgContainer {
      max-width: 270px;
    }
    .fa-heart {
      position: absolute;
      right: 22px;
      bottom: 36px;
      font-size: 30px;
    }
  }
    @media screen and (min-width: 1670px) {
      .chooseRestaurants__h2 {
        padding-bottom: 70px;
      }
      .restaurantsContainer {
        flex-wrap: nowrap;
        gap: 80px;
      }
      .restaurantsCards__imgContainer {
        max-width: 350px;
      }
    }
  