// ANIMATED LOADING PAGE 
.loadingPage{
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  height: 100vh;
  animation: loading-page 250ms 6s forwards;
  transform-origin: top;
  
  &::after{
    content: "";
    height: 100px;
    width: 100px;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $tertiary-color;
    border-radius: 50%;
    animation: spin 2s infinite ease-in-out;
    opacity: 1;
  }
}

/* SECTION EXPLORE */
// IPHONE 8
.explore {
  text-align: center;
  padding: 50px 0 70px 0;
  background-color: $primary-background-color;

  &__h2 {
    @include h2-iphone-accueil;
    margin: 0;
  }

  &__p {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 18px 0 38px 0;
  }

  &__button {
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    padding: 20px 30px;
    color: white;
    @include gradient-button;
    border: none;
    border-radius: 32px 32px;
    @include base-shadow;
    transition-duration: 250ms;
    cursor: pointer;
  }

  &__button:hover {
    @include base-zoom;
  }
}

// TABLETTE
@media screen and (min-width: 768px) {
  .explore__button {
    border-radius: 10px 10px;
  }    
    .loadingPage::after{
      content: "";
      height: 200px;
      width: 200px;
      border-bottom: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid $tertiary-color;
    }
  }

  // DESKTOP
  @media screen and (min-width: 1280px) {
    .loadingPage::after{
      content: "";
      height: 300px;
      width: 300px;
      border-bottom: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $tertiary-color;
    }
  }