@charset "UTF-8";
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* WHOLE PAGE */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* BODY */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

/* HEADER*/
.Header-Title {
  margin: 0;
  padding: 23px 0 12px 0px;
  position: relative;
  font-family: 'Shrikhand', cursive;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  -webkit-box-shadow: 0px 1px 0.5rem 0.5px #00000042;
          box-shadow: 0px 1px 0.5rem 0.5px #00000042;
}

@media screen and (min-width: 768px) {
  .Header-Title {
    font-size: 41px;
  }
}

@media screen and (min-width: 1280px) {
  .Header-Title {
    font-size: 44px;
  }
}

/* ADDRESS */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 20px 0;
  gap: 22px;
  background-color: #ededed;
}

.location .fa-location-dot {
  font-size: 20px;
}

.location__h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .location__h2 {
    font-size: 22px;
  }
}

/* SECTION EXPLORE */
.explore {
  text-align: center;
  padding: 50px 0 70px 0;
  background-color: #f1f1f191;
}

.explore__h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.explore__p {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 18px 0 38px 0;
}

.explore__button {
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  padding: 20px 30px;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 32px 32px;
  -webkit-box-shadow: 0px 3px 1rem 1px #00000030;
          box-shadow: 0px 3px 1rem 1px #00000030;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.explore__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .explore__button {
    border-radius: 10px 10px;
  }
}

.functioning {
  padding: 60px 30px 90px 30px;
}

.functioning__h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.functioning__ol {
  margin: 35px 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 32px;
}

.functioning__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356DC;
  color: white;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  margin-left: -10px;
  font-size: 15px;
  font-weight: 400;
  margin-left: -13px;
}

.functioning__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 40px 30px 0;
  font-size: 19px;
  font-weight: 600;
  border: none;
  background-color: #f1f1f191;
  border-radius: 25px 25px;
  -webkit-box-shadow: 0px 3px 1rem 1px #00000030;
          box-shadow: 0px 3px 1rem 1px #00000030;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.functioning__li:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.9;
  background-color: #9356dc30;
}

.fa-mobile-screen-button {
  padding: 0px 25px 0 24px;
  color: #7e7e7e;
  font-size: 23px;
}

.fa-list {
  padding: 0px 25px 0 24px;
  color: #7e7e7e;
  font-size: 23px;
}

.fa-store {
  padding: 0px 25px 0 24px;
  color: #9356DC;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .functioning__h2 {
    text-align: center;
  }
  .functioning__ol {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 60px 0 0 0;
    gap: 36px;
  }
  .functioning__li {
    border-radius: 10px 10px;
  }
}

@media screen and (min-width: 1280px) {
  .functioning__ol {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.chooseRestaurants {
  background-color: #f1f1f191;
  padding: 60px 30px 90px 30px;
}

.chooseRestaurants__h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 29px;
}

.restaurantsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.restaurantsCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 260px;
  border-radius: 18px 18px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 1rem 1px #00000030;
          box-shadow: 0px 3px 1rem 1px #00000030;
  position: relative;
}

.restaurantsCards__imgContainer {
  max-width: 546px;
  max-height: 190px;
  overflow: hidden;
  border-radius: 18px 18px 0 0;
}

.restaurantsCards__new {
  position: absolute;
  background-color: #99E2D0;
  right: 20px;
  top: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #008967;
  padding: 8px 10px;
  border-radius: 3px 3px;
}

.restaurantsCards__imgContained {
  width: 100%;
  min-width: 370px;
}

.restaurantsTxtContainer {
  padding: 16px 0 12px 20px;
}

.restaurants__h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
}

.restaurants__h3__p {
  margin: 0;
  padding: 8px 0 6px 0;
  font-size: 20px;
  font-weight: 300;
}

.imgPalette {
  -webkit-transform: translate(-10px, -22%);
          transform: translate(-10px, -22%);
  position: relative;
}

.imgEnchantée {
  -webkit-transform: translate(-8px, -35%);
          transform: translate(-8px, -35%);
}

.imgFrançaise {
  -webkit-transform: translate(-3px, -18%);
          transform: translate(-3px, -18%);
}

.imgDélice {
  -webkit-transform: translate(-2px, -20%);
          transform: translate(-2px, -20%);
}

.fa-heart {
  position: absolute;
  right: 33px;
  bottom: 34px;
  font-size: 34px;
}

.filled {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.filled:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.9;
  opacity: 1;
}

@media screen and (min-width: 414px) {
  .imgPalette {
    -webkit-transform: translate(0px, -22%);
            transform: translate(0px, -22%);
  }
  .imgEnchantée {
    -webkit-transform: translate(0px, -35%);
            transform: translate(0px, -35%);
  }
  .imgFrançaise {
    -webkit-transform: translate(0px, -18%);
            transform: translate(0px, -18%);
  }
  .imgDélice {
    -webkit-transform: translate(0px, -20%);
            transform: translate(0px, -20%);
  }
}

@media screen and (min-width: 415px) {
  .restaurantsCards__imgContainer {
    max-width: 570px;
  }
}

@media screen and (min-width: 640px) {
  .restaurantsCards__imgContainer {
    max-width: 692px;
  }
}

@media screen and (min-width: 768px) {
  .chooseRestaurants__h2 {
    padding-bottom: 50px;
    text-align: center;
  }
  .restaurantsContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .restaurantsCards {
    border-radius: 35px 35px 10px 10px;
    background-color: white;
  }
  .restaurantsCards__imgContainer {
    max-width: 330px;
    border-radius: 35px 35px 35px 35px;
  }
}

@media screen and (min-width: 910px) {
  .restaurantsCardsContainer {
    gap: 50px;
  }
  .restaurantsCards__imgContainer {
    max-width: 390px;
  }
}

@media screen and (min-width: 1280px) {
  .chooseRestaurants__h2 {
    padding-bottom: 70px;
  }
  .restaurantsContainer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 60px;
  }
  .restaurantsCards__imgContainer {
    max-width: 270px;
  }
  .fa-heart {
    position: absolute;
    right: 22px;
    bottom: 36px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1670px) {
  .chooseRestaurants__h2 {
    padding-bottom: 70px;
  }
  .restaurantsContainer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 80px;
  }
  .restaurantsCards__imgContainer {
    max-width: 350px;
  }
}

/* SECTION FOOTER */
.footer {
  padding: 20px 30px 55px 30px;
  color: white;
  background-color: #000000c2;
}

.footer__h3 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  padding: 25px 0 18px 0;
}

.footer__i-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 15px;
}

.fa-utensils {
  font-size: 19px;
}

.fa-handshake-angle {
  font-size: 16px;
  margin-left: -4px;
}

.footer__p-icons {
  font-size: 23px;
  font-weight: 500;
  margin: 0;
  padding-left: 20px;
}

.footer__p-noIcons {
  font-size: 23px;
  font-weight: 500;
  margin: 0;
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .footer__h3 {
    padding: 25px 0 20px 0;
  }
  .footer__desktop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */