/* SECTION ORDER ORDER BUTTON */
// IPHONE 8
.buttonContainer {
  padding: 55px 0 70px 0;
  text-align: center;
  background-color: $secondary-background-color;
}
.order__button {
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  padding: 20px 55px;
  color: white;
  @include gradient-button;
  border: none;
  border-radius: 30px 30px;
  @include base-shadow;
  transition: transform 250ms;
  cursor: pointer;

  &:hover {
    @include base-zoom;
  }
}
@media screen and (min-width: 414px) {
  .buttonContainer {
    padding: 65px 0 85px 0;
  }
  .order__button {
    padding: 20px 75px;
  }
}
// TABLETTE
@media screen and (min-width: 768px) {
  .buttonContainer {
    padding: 75px 0 90px 0;
  }
  .order__button {
    font-size: 22px;
    padding: 20px 90px;
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .buttonContainer {
    padding: 130px 0 140px 0;
  }
  .order__button {
    font-size: 28px;
    padding: 28px 115px;
    border-radius: 10px 10px;
  }
}
